@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 259 37% 98%;
        --foreground: 259 68% 1%;
        --muted: 229 19% 86%;
        --muted-foreground: 229 2% 39%;
        --popover: 259 37% 98%;
        --popover-foreground: 259 68% 1%;
        --card: 259 37% 97%;
        --card-foreground: 0 0% 0%;
        --border: 259 10% 92%;
        --input: 259 10% 92%;
        --primary: 259 72% 15%;
        --primary-foreground: 259 72% 75%;
        --secondary: 229 72% 15%;
        --secondary-foreground: 229 72% 75%;
        --accent: 289 72% 15%;
        --accent-foreground: 289 72% 75%;
        --destructive: 9 90% 29%;
        --destructive-foreground: 9 90% 89%;
        --ring: 259 72% 15%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 259 57% 0%;
        --foreground: 259 28% 99%;
        --muted: 229 19% 14%;
        --muted-foreground: 229 2% 61%;
        --popover: 259 57% 0%;
        --popover-foreground: 259 28% 99%;
        --card: 0 0% 1%;
        --card-foreground: 0 0% 100%;
        --border: 259 10% 15%;
        --input: 259 10% 15%;
        --primary: 259 72% 15%;
        --primary-foreground: 259 72% 75%;
        --secondary: 229 72% 15%;
        --secondary-foreground: 229 72% 75%;
        --accent: 289 72% 15%;
        --accent-foreground: 289 72% 75%;
        --destructive: 9 90% 59%;
        --destructive-foreground: 0 0% 0%;
        --ring: 259 72% 15%;
    }
}

body {
    letter-spacing: -0.03rem;
    background: linear-gradient(-45deg, rgba(238, 119, 82, 0.6), rgba(231, 60, 126, 0.7), rgba(109, 35, 213, 0.8), rgba(35, 213, 171, 0.9));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
