@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 290 62% 100%;
        --foreground: 290 80% 5%;
        --muted: 290 18% 91%;
        --muted-foreground: 290 0% 39%;
        --popover: 290 62% 100%;
        --popover-foreground: 290 80% 5%;
        --card: 290 62% 100%;
        --card-foreground: 290 80% 5%;
        --border: 290 6% 91%;
        --input: 290 6% 91%;
        --primary: 290 62% 12%;
        --primary-foreground: 290 62% 72%;
        --secondary: 290 13% 92%;
        --secondary-foreground: 290 13% 32%;
        --accent: 290 13% 92%;
        --accent-foreground: 290 13% 32%;
        --destructive: 4 96% 33%;
        --destructive-foreground: 4 96% 93%;
        --ring: 290 62% 12%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 290 44% 2%;
        --foreground: 290 26% 100%;
        --muted: 290 18% 9%;
        --muted-foreground: 290 0% 61%;
        --popover: 290 44% 2%;
        --popover-foreground: 290 26% 100%;
        --card: 290 44% 2%;
        --card-foreground: 290 26% 100%;
        --border: 290 6% 14%;
        --input: 290 6% 14%;
        --primary: 290 62% 12%;
        --primary-foreground: 290 62% 72%;
        --secondary: 290 2% 18%;
        --secondary-foreground: 290 2% 78%;
        --accent: 290 2% 18%;
        --accent-foreground: 290 2% 78%;
        --destructive: 4 96% 52%;
        --destructive-foreground: 0 0% 100%;
        --ring: 290 62% 12%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

body {
    letter-spacing: -0.03rem;
}
