@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 215 54% 99%;
        --foreground: 215 60% 0%;
        --muted: 215 10% 91%;
        --muted-foreground: 215 5% 25%;
        --popover: 215 54% 99%;
        --popover-foreground: 215 60% 0%;
        --card: 215 54% 99%;
        --card-foreground: 215 60% 0%;
        --border: 215 13% 93%;
        --input: 215 13% 93%;
        --primary: 215 66% 30%;
        --primary-foreground: 215 66% 90%;
        --secondary: 215 8% 83%;
        --secondary-foreground: 215 8% 23%;
        --accent: 215 8% 83%;
        --accent-foreground: 215 8% 23%;
        --destructive: 14 91% 31%;
        --destructive-foreground: 14 91% 91%;
        --ring: 215 66% 30%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 215 57% 0%;
        --foreground: 215 35% 100%;
        --muted: 215 10% 9%;
        --muted-foreground: 215 5% 75%;
        --popover: 215 57% 0%;
        --popover-foreground: 215 35% 100%;
        --card: 215 57% 0%;
        --card-foreground: 215 35% 100%;
        --border: 215 13% 13%;
        --input: 215 13% 13%;
        --primary: 215 66% 30%;
        --primary-foreground: 215 66% 90%;
        --secondary: 215 4% 10%;
        --secondary-foreground: 215 4% 70%;
        --accent: 215 4% 10%;
        --accent-foreground: 215 4% 70%;
        --destructive: 14 91% 45%;
        --destructive-foreground: 0 0% 100%;
        --ring: 215 66% 30%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

body {
    letter-spacing: -0.03rem;
}
